<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Me</title>
  </head>
  <body>
    <h1>Fill in the form</h1>

    <form action='/login' method='post'>
      <label for=''>Name</label>
      <input type='text' name='name' placeholder='name' />
      <label for=''>Last Name</label>
      <input type='text' name='lastname' placeholder='lastname' />
      <label for=''>Hometown</label>
      <input type='text' name='town' placeholder='town' />
      <label for=''>Favourite Drink</label>
      <input type='text' name='drink' placeholder='drink' />
      <button type='submit'>invia</button>
    </form>
  </body>
</html>